version: "3.9"
services:
  ecommerce_app:
    container_name: ecommerce_app
    restart: always
    volumes:
      - .:/ecommerce
    image: ecommerce_app:latest
    build: .
    env_file:
      - .env.example
    ports:
      - "8000:8000"
    depends_on:
      - ecommerce_db
      - ecommerce_redis_host
    networks:
      ecommerce_network:

  ecommerce_redis_host:
    container_name: ecommerce_redis_host
    image: "redis:7-alpine"
    env_file:
      - .env.example
    expose:
      - "6379"
    restart: always
    networks:
      - ecommerce_network

  ecommerce_db:
    container_name: ecommerce_db
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env.example
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=${DB_USER-ecommerce_user}
      - POSTGRES_PASSWORD=${DB_PASSWORD-ecommerce_user_password}
      - POSTGRES_DB=${DB_NAME-ecommerce_db}
    networks:
      - ecommerce_network

networks:
  ecommerce_network:
